<section>
  <div class="page-header">
    <h1 style="color:#73AD21;margin-bottom: 25px;margin-top: 10px;font-size: 50px;" align="center">{{vm.estadistica._id ? 'En construcción' : 'En construcción'}}</h1>
  </div>
  <div align="center">
    <img style="width: 50%;height: 45%" src="https://st.depositphotos.com/1262480/1536/v/950/depositphotos_15365379-stock-illustration-business-template-of-employee-statistics.jpg">
  </div>
  <!-- <div class="col-md-12">
    <form name="vm.form.estadisticaForm" class="form-horizontal" ng-submit="vm.save(vm.form.estadisticaForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.estadistica.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.estadisticaForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Estadistica name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.estadistica._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div> -->
</section>
