<section>
  <div class="page-header">
    <h1 style="color:#73AD21;margin-bottom: 25px;margin-top: 10px;font-size: 50px;" align="center">{{vm.estadistica._id ? 'En construcción' : 'En construcción'}}</h1>
  </div>
  <div align="center">
    <img style="width: 50%;height: 45%" src="https://st.depositphotos.com/1262480/1536/v/950/depositphotos_15365379-stock-illustration-business-template-of-employee-statistics.jpg">
  </div>
  <!-- <div class="page-header">
    <h1>Estadisticas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="estadistica in vm.estadisticas"
       ui-sref="estadisticas.view({ estadisticaId: estadistica._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="estadistica.created | date:'mediumDate'"></span>
        by
        <span ng-if="estadistica.user" ng-bind="estadistica.user.displayName"></span>
        <span ng-if="!estadistica.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="estadistica.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.estadisticas.$resolved && !vm.estadisticas.length">
    No Estadisticas yet, why don't you <a ui-sref="estadisticas.create">create one</a>?
  </div> -->
</section>
