<section>
  <div class="page-header">
    <h1 ng-bind="vm.centro.name"></h1>
  </div>

  <div class="pull-right"
       ng-show="vm.centro.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="centros.edit({ centroId: vm.centro._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Creado: 
      <span ng-bind="vm.centro.created | date:'mediumDate'"></span>
      por
      <span ng-if="vm.centro.user"
            ng-bind="vm.centro.user.displayName"></span>
      <span ng-if="!vm.centro.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.centro.content"></p>

  <div class="row" style="margin-bottom: 60px">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Municipio</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.municipio_centro"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Localidad</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.localidad_centro"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Barrio</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.barrio"></div>
      </div>
    <hr/>
    <div class="row">
        <div class="col-md-3"><strong>Calle</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.calle"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Altura</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.altura"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Telefono</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.telefono_primario"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Mail</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.mail"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Responsable</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.responsable"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Observaciones</strong></div>
        <div class="col-md-6" data-ng-bind="vm.centro.observaciones"></div>
      </div>
  </div>
  
  
</section>
