<style type="text/css">
  div .roundBorder{
      border-radius: 25px;border: 2px solid #2e8af0;padding: 12px;text-align: center;
    }
</style>
<section  data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="logo de sistema informar" class="img-responsive text-center" src="modules/core/img/brand/logoinformar.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        <h2 style="font-size: 2.5em">Bienvenido al Sistema de Gestión de Denuncias de Violencia</h2>
      </p>   

    </div>
  </div>
  <div class="well" align="center" >
    <h2>Inform<strong>.AR</strong> para prevenir</h2>
    <p>Informar para prevenir es un proyecto orientado a la creación de una herramienta para enfrentar la punzante problematica de violencia en nuestra sociedad, registrando las denuncias realizadas en distintos centros capacitados y concentrar toda esa información, creando un sistema de alerta temprana.</p>
    <p>
      Este proyecto se llevó a cabo en el seno de un equipo multidisciplinario de estudiantes de la UNNOBA en conjunto con dirigentes de la zona sanitaria cuarta de la provincia de Buenos Aires.
      <!-- <ul>
        <li>
          Actis Agustín: <strong>aactis@comunidad.unnoba.edu.ar</strong>
        </li>
        <li>
          Diaz Leonardo: <strong>lmdiaz@comunidad.unnoba.edu.ar</strong>
        </li>
        <li>
          Fernandez David: <strong>dfernandez@comunidad.unnoba.edu.ar</strong>
        </li>
      </ul> -->
    </p>
    <div class="row">

              <div class="col-md-4 roundBorder" style="margin-top: 15px;border-color: #c91b1b"> 
                <label style="font-size: 18px" class="control-label" for="david">David Fernandez</label>
                <h2 style="margin-top: 5px" name="david" type="text" id="david" class="form-control">dfernandez@comunidad.unnoba.edu.ar</h2>

              </div>
              <div class="col-md-4 roundBorder" style="margin-top: 15px;border-color: #1bc930"> 
                <label style="color: grey;font-size: 18px" class="control-label" for="david">Agustin Actis</label>
                <h2 style="margin-top: 5px" name="david" type="text" id="david" class="form-control">aactis@comunidad.unnoba.edu.ar</h2>

              </div>
              <div class="col-md-4 roundBorder" style="margin-top: 15px;border-color: #1bbcc9"> 
                <label style="color: grey;font-size: 18px" class="control-label" for="david">Leonardo Diaz</label>
                <h2 style="margin-top: 5px" name="david" type="text" id="david" class="form-control">lmdiaz@comunidad.unnoba.edu.ar</h2>

              </div>



    </div>
  </div>

</section>



