<style type="text/css">
  div .roundBorder{
      border-radius: 25px;border: 2px solid #2e8af0;padding: 12px;text-align: center;
    }
  p{
    font-size: 18px;
  }
</style>
<section  data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="logo de sistema informar" class="img-responsive text-center" src="modules/core/img/brand/logoinformar.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        <h2 style="font-size: 3em">Bienvenido a inform<strong style="color: blue">.AR</strong> para prevenir </h2>
        <h3 style="font-size: 1.8em;margin-top: 15px">Sistema de Gestión de Denuncias de Violencia</h3>
      </p>   

    </div>
  </div>
  <div class="well" align="center" style="margin-bottom: 40px">
    <h2 style="font-size: 30px">Acerca de</h2>
    <p>Informar para prevenir es un proyecto orientado a la creación de una herramienta para enfrentar la punzante problematica de violencia en nuestra sociedad, registrando las denuncias realizadas en distintos centros capacitados y concentrar toda esa información, creando un sistema de alerta temprana.</p>
    <p>
    <p>
      Este proyecto se llevó a cabo en el seno de un equipo multidisciplinario de estudiantes de la UNNOBA en conjunto con dirigentes de la zona sanitaria cuarta de la provincia de Buenos Aires.
    </p>
    <p >La region sanitaria cuarta es una entidad que administra una de las 11 zonas en que se divide la provincia de Buenos Aires, con su sede en la ciudad de Pergamino, ubicada en el noroeste de la provincia.</p>
    <p>
      Esta region es responsable de los siguientes municipios:
    </p>
    <p><strong>Pergamino,Arrecifes,Baradero,Capitán Sarmiento,Carmen de Areco,Colón,Ramallo,Rojas,Salto,San Andrés de Giles,San Antonio de Areco,San Nicolas,San Pedro</strong></p>
    <!-- <div class="row">
              <div class="col-md-4 roundBorder" style="margin-top: 15px;border-color: #c91b1b"> 
                <label style="font-size: 18px" class="control-label" for="david">David Fernandez</label>
                <h2 style="margin-top: 5px" name="david" type="text" id="david" class="form-control">dfernandez@comunidad.unnoba.edu.ar</h2>

              </div>
              <div class="col-md-4 roundBorder" style="margin-top: 15px;border-color: #1bc930"> 
                <label style="font-size: 18px" class="control-label" for="david">Agustin Actis</label>
                <h2 style="margin-top: 5px" name="david" type="text" id="david" class="form-control">aactis@comunidad.unnoba.edu.ar</h2>

              </div>
              <div class="col-md-4 roundBorder" style="margin-top: 15px;border-color: #1bbcc9"> 
                <label style="font-size: 18px" class="control-label" for="david">Leonardo Diaz</label>
                <h2 style="margin-top: 5px" name="david" type="text" id="david" class="form-control">lmdiaz@comunidad.unnoba.edu.ar</h2>
              </div>
    </div> -->

  </div>

</section>
<footer style="margin-bottom: 5px" align="center">
  <p style="font-size: 14px">Contacto con los desarrolladores:</p><p style="font-size: 14px"> Agustin Actis: <strong>aactis@comunidad.unnoba.edu.ar</strong>  |  David Fernandez: <strong>dfernandez@comunidad.unnoba.edu.ar</strong>  |  Leonardo Diaz: <strong>lmdiaz@comunidad.unnoba.edu.ar</strong></p></footer>



