<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>


<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 10px 0 30px 0;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
    <tr>
      <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
        <img class="img-responsive text-center" src="modules/core/img/brand/ministerio.jpg" alt="Creating Email Magic"  style="display: block; height: 250px;width: 250px;" />
      </td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;" align="center">
              <b>Bienvenido a inform<strong style="color: blue">.AR</strong> para prevenir!</b>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">Su cuenta fue activada por un administrador, a partir de ahora tiene acceso completo al sistema. Por favor, haga un uso responsable del mismo.</td>
          </tr>
          <tr>
            <td style="padding: 0 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">Guias generales para el buen uso del sistema:</td>
          </tr>

          <tr>
            <td style="padding: 0 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><li style="margin-left: 4em">Nunca revele su contraseña a nadie, recuerde que este sistema maneja información sensible</li></td>
          </tr>
          <tr>
            <td style="padding: 0 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><li style="margin-left: 4em">Preste especial atencion a la carga de las denuncias, es una tarea importante</li></td>
          </tr>
          <tr>
            <td style="padding: 0 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><li style="margin-left: 4em"><strong>NUNCA </strong>altere y/u omita datos, es un delito grave</li></td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="260" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td>
                          <img align="center" src="modules/core/img/brand/unnoba.jpg" alt="" width="200px" height="280px" style="display: block;" />
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">Desarrollado por la UNNOBA sede Pergamino
                        </td>
                      </tr>
                    </table>
                  </td>
                  
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td  style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">&reg; UNNOBA, Pergamino 2018<br/><a href="https://www.argentina.gob.ar/salud" style="color: #ffffff;"><font color="#ffffff">Ministerio de salud</font></a>
            </td>
            <td align="right" width="25%">
              
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</td>
</tr>
</table>
</body>
</html>