<section>
  <div class="row">
    <div class="page-header" >
      <h1 style="color:#73AD21;margin-bottom: 15px;margin-top: 10px;font-size: 40px;" align="center">Lista de Registros</h1>
    </div>
    <div class="col-md-12" align="center">
      <h3 style="margin-bottom: 15px">Filtrar Registros</h3>
      <p style="color: grey">Puede seleccionar hasta 3 campos para filtrar los registros</p>

      <div class="form-group col-md-3">


        <select name="campo_filtro_1" class="form-control" id="campo_filtro_1" ng-model="campo_elegido_1" ng-options="campo for campo in campos_a_filtrar" ng-change="filtro1()">
          <option value="" disabled selected hidden>Campos de Filtrado</option>
        </select>

        <select style="display: none" name="opciones" class="form-control" id="opciones" ng-model="opciones_uno" ng-options="campo for campo in opciones" ng-change="figureOutItemsToDisplay()">
          <option value="" disabled selected hidden>Opciones de Filtrado</option>
        </select>

        <input style="display: none" name="texto_uno" id="texto_uno" class="form-control col-md-4" type="text" data-ng-model="texto_uno" placeholder="Buscar" ng-change="figureOutItemsToDisplay()" />

        <input style="display: none" type="date" id="fecha_uno" class="form-control col-md-4" name="fecha_uno" data-ng-model="fecha_uno" placeholder="dd-MM-yyyy" ng-change="figureOutItemsToDisplay()"/>

      </div>

      <div class="form-group col-md-3">


        <select name="campo_filtro_2" class="form-control" id="campo_filtro_2" ng-model="campo_elegido_2" ng-options="campo for campo in campos_a_filtrar" ng-change="filtro2()">
          <option value="" disabled selected hidden>Campos de Filtrado</option>
        </select>

        <select style="display: none" name="opciones_2" class="form-control" id="opciones_2" ng-model="opciones_dos" ng-options="campo for campo in opciones2" ng-change="figureOutItemsToDisplay2()">
          <option value="" disabled selected hidden>Opciones de Filtrado</option>
        </select>

        <input style="display: none" name="texto_2" id="texto_2" class="form-control col-md-4" type="text" data-ng-model="texto_dos" placeholder="Buscar" ng-change="figureOutItemsToDisplay2()" />

        <input style="display: none" type="date" id="fecha_dos" class="form-control col-md-4" name="fecha_dos" data-ng-model="fecha_dos" placeholder="dd-MM-yyyy" ng-change="figureOutItemsToDisplay2()"/>

      </div>

      <div class="form-group col-md-3">


        <select name="campo_filtro_3" class="form-control" id="campo_filtro_3" ng-model="campo_elegido_3" ng-options="campo for campo in campos_a_filtrar" ng-change="filtro3()">
          <option value="" disabled selected hidden>Campos de Filtrado</option>
        </select>

        <select style="display: none" name="opciones_3" class="form-control" id="opciones_3" ng-model="opciones_tres" ng-options="campo for campo in opciones3" ng-change="figureOutItemsToDisplay3()">
          <option value="" disabled selected hidden>Opciones de Filtrado</option>
        </select>

        <input style="display: none" name="texto_3" id="texto_3" class="form-control col-md-4" type="text" data-ng-model="texto_tres" placeholder="Buscar" ng-change="figureOutItemsToDisplay3()" />

        <input style="display: none" type="date" id="fecha_tres" class="form-control col-md-4" name="fecha_tres" data-ng-model="fecha_tres" placeholder="dd-MM-yyyy" ng-change="figureOutItemsToDisplay3()"/>

      </div>

      <div class="form-group col-md-3">
        <a class="btn btn-primary" data-ng-click="reiniciar()">
          <acronym title="Activar"><i class="glyphicon glyphicon-refresh"> Reiniciar</i></acronym>
        </a>
    </div>

    </div>
  </div>
  <div class="list-group" data-ng-controller="HeaderController">
    <div align="center" data-ng-repeat="denuncia in pagedItems" ng-if="authentication.user._id">
    <a data-ui-sref="denuncias.view({ denunciaId: denuncia._id })" class="list-group-item">
      <div class="row" >
        
      <small class="list-group-item-text" >
        <p style="font-size: 14px">Usuario: <span style="font-size: 18px;color: #73AD21" ng-if="denuncia.user" ng-bind="denuncia.user.displayName"></span></p>
        <p style="font-size: 14px"><span style="font-size: 18px;color: red" ng-if="!denuncia.user">Usuario Eliminado</span></p>
      </small>
        
      </div>
      <div class="row">
        
      <small class="list-group-item-text" >
        <p style="font-size: 14px">Creada: <span style="font-size: 14px;" ng-bind="denuncia.created | date:'mediumDate'"></span></p>
      </small>
        
      </div>
      <h4 class="list-group-item-heading" ng-bind="denuncia.name"></h4>
    </a>
    
  </div>
</div>
<div align="center">
  <pagination  boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
</section>
>
