<section>
		<div align="center" class="well">
	    	<h1>Inform<strong style="color: blue">.AR</strong></h1>
	    </div>
	    <div class="well">
	    	<section style="text-align: center;font-size: 1.5em">
	    	<h2 style="color: #ab0707">IMPORTANTE!</h2>
	    	<p>
	    		Informar para prevenir es un proyecto orientado a la creación de una herramienta para enfrentar la punzante problematica de violencia en nuestra sociedad, registrando las denuncias realizadas en distintos centros capacitados y concentrar toda esa información, creando un sistema de alerta temprana.
	    	</p>
	    	
		    <p>
		      	La información manejada por este sistema es de naturaleza muy sensible y confidencial, por lo tanto la seguridad es una prioridad. Al registrarse, su cuenta no sera activada en forma automatica. Será necesario ser habilitado por un administrador. Debido a esto, preste especial atencion a los datos ingresados durante el registro, de no estar en regla no podra tener acceso.
		    </p>
		    <p>
		      	Se le enviará un correo electronico a la dirección declarada para notificarle de su activación cuando sea oportuno.
		    </p>
	  	</section>
	  	</div>

	  	<div class="row" align="center">
	  		<a class="btn btn-large btn-primary" style="width: 150px;height: 40px;font-size: 20px;margin: 10px" ui-sref="authentication.signup">Entendido</a>
	  		<a class="btn btn-large btn-primary" style="width: 150px;height: 40px;font-size: 20px;margin: 10px" data-ui-sref="home">Volver</a>
	  	</div>
	  	<!-- <div class="well">
	  		<tr>
				<td>
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  					<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr align="center">
										<td>
											<a class="btn btn-large btn-primary" data-ui-sref="home">Volver</a>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" >
									<tr align="center">
										<td>
											<a class="btn btn-large btn-primary" ui-sref="authentication.signup">Entendido</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>	  				
					</table>
				</td>
			</tr>
	  	</div> -->
</section>